<HTML!>
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
<link rel="stylesheet" href="./css/style.css">
<center><h1 class='title'>Tica Taca Toe</h1>

<table id="myTable">
  <tr class="header">
    <th>X</th>
    <th>O</th>
    <th>Result</th>
    <th>Time</th>
   
  </tr>
 
<%tictactoe.each do |value|%>
<tr>
<td><%=value['x']   %></td>
<td><%=value['o']   %></td> 
<td><%=value['result']   %></td>
<td><%=value['time']  %></td>

</tr>
<%end%>
</table>
<p class='link'><a href='/clear_sessions'><img src= "./img/playagain.jpg" style="width:150px; height:100px;"></a>
 
</center>
</HTML>