<!DOCtype HTML>
<link rel="stylesheet" href="./css/style.css">
<center>
<h1 class='title'>Tica Taca Toe</h1>
<h2 class='title_2'>Please Select Your Players</h2>
	<form action='/select_players' method='post'>
		
	<table>
		<tr>
			<td class='bold'>Player 1</td>
			<input type="text" name="pname1" placeholder="Enter Player 1 name" required>
			<td class='bold'>Player 2</td><br>
			<input type="text" name="pname2" placeholder="Enter Player 2 name" ><br>Leave player 2 blank if the players will be AI<br>
		</tr>
		<tr>
			<td>
				<select name='player1'>

				    <option value='Human'>Human - X </option>
				    <option value='Easy'>Easy AI- X</option>
				    <option value='Medium'>Medium AI - X</option>
				    <option value='Impossible!'>Impossible AI! - X</option>
				</select>
		    </td>

		    <td>
			    <select name='player2'>
				    <option value='Human'>Human - O</option>
				    <option value='Easy'>Easy AI- O</option>
				    <option value='Medium'>Medium AI- O</option>
				    <option value='Impossible!'>Impossible AI! - O</option>
				    <input type="submit" value="Submit">
				</select>
		    </td>
		</tr>
	</table>
		
	</form>
</center>
</html>