

body {
  background: #eff4ff;
 
  font-family: 'Handlee', cursive;
}

/*.middle_columns {
	border-right: 5px solid black;
	border-left: 5px solid black;
}

.top_bottom {
	border-top: 5px solid black;text-shadow: 2px 2px 5px teal;
	box-shadow: inset -1px -1px 10px teal !important;
	border-bottom: 5px solid black;
}*/

#table_size {
	
	margin-right: auto;
	margin-top: auto;
	margin-left: auto;
	margin-bottom: auto;
	width: 400px;
	height: 400px;
	
}

.square_size {
	border-radius: 25px;
	border: none;
	width: 100%;
	height: 100%;
	font-size: 4.3em;
	color: black;
	text-shadow: 2px 2px 5px teal;
	box-shadow: inset -1px -1px 10px teal !important;

}

